/* Main Section */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

main {
  margin: 3rem;
}

/* Time Block Section */

/* .row {
  display: flex;
} */

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* Modal Section */

.modal-body {
  line-height: 2.5;
}

/* Buttons and Icons Section */

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #536366;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.btn-add,
.btn-save {
  height: 100%;
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #FA8BFF, 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-close {
  width: 20%;
}

.btn-close,
.btn-delete {
  height: 100%;
  color: white;
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-add:hover, .btn-save:hover, .btn-close:hover, .btn-delete:hover {
  background-position: 1px -50px;
}

.dropover {
  background-color: rgba(0,0,0,0.3);
}

.dropover-active {
  background-color: rgba(0,0,0,0.9);
}

/* Trash Section */

.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  transform: translateY(150px);
  background-color: rgba(234, 0, 39, 0.7);
  background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
  transition: all .5s ease-in-out;

}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: rgba(234, 0, 39, 1)
}