:root {
  --blue: #00346b;
  --indigo: #002853;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --tan: #e0e0e0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Main Section */

ul.list-group {
  min-height: 50px;
}

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--tan);
}

.jumbotron {
  text-align: center;
  background-color: var(--indigo);
  color: var(--white);
  border-radius: 0;
  border-bottom: 10px solid black;
}

main {
  margin: 3rem;
}

.card {
  margin: 3px;
}


/* Time Block Section */

.time-section {
  padding-bottom: 150px;
}

.past {
  background-color: rgba(72, 78, 78, 0.678);
  color: black;
}

.present {
  background-color: rgb(97, 176, 212);
  color: black;
}

.future {
  background-color: #103b5e;
  color: var(--white);
}

/* Modal Section */

.modal-body {
  line-height: 2.5;
}

/* Buttons and Icons Section */

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #536366;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.btn-add,
.btn-save {
  height: 100%;
  color: var(--white);
  background-color: var(--pink);
  background-image: linear-gradient(45deg, #FA8BFF, 0%, #2BD2FF 52%, #004bec 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-close {
  width: 20%;
}

.btn-close,
.btn-delete {
  height: 100%;
  color: var(--white);
  background-color: #EA0028;
  background-image: linear-gradient(45deg, #ff6f59 52%, #EA0028 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-add:hover, .btn-save:hover, .btn-close:hover, .btn-delete:hover {
  background-position: 1px -50px;
}

.dropover {
  background-color: rgba(255, 255, 255, 0.3);
}

.dropover-active {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Trash Section */

.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  transform: translateY(150px);
  transition: all .5s ease-in-out;
  background-color: rgba(234, 0, 39, 1);
}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: rgba(234, 0, 39, 1)
}

@media only screen and (max-width: 1200px) {
  h5 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  h5 {
    font-size: 12px;
  }
}